.contact-details {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  // .email {
  //   display: flex;
  // }
  .icon {
    padding-right: 4px;
  }
  .linkedin a,
  .github a {
    text-decoration: none;
    color: white;
  }
}
